*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    background-color: orange;
}

.img{
    width: 250px;
    height: 250px;
    margin: 50px;
    color: green;
   /* border-top-left-radius: 10px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 30px;*/
    border-radius: 10px 20px 30px 40px;
    border-radius: 50%;
   /* border-radius: 30%;*/
   /* box-shadow: offset-x offset-y blur spread color*/
   box-shadow: 10px 50px 30px 10px #000;
}

.notebook{
    width: 300px;
    height: 400px;
    background-color: purple;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px #fff, 20px 20px purple;
    padding-top: .1px;
}

.circle{
    width: 14px;
    height: 14px;
    background-color: white;
    color:white;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 7px;
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px;
    padding-top: .1px;
}

.line{
    margin-top: 4px;
    margin-left: -20px;
    background-color: green;
    color: green;
    width: 30px;
    height: 8px;
    border-radius: 10px;
    box-shadow: 0 40px, 0 80px, 0 120px, 0 160px, 0 200px, 0 240px, 0 280px, 0 320px;

}
